// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  lighterblue:       #444,
  lightergrey:       #00f,
  lightnavy:       #001f3f,
  lightestblue:  #0074D9,
  lightaqua:       #7FDBFF,
  lightteal:       #39CCCC,
  lightolive:      #3D9970,
  lightergreen:      #2ECC40,
  lightlime:       #01FF70,
  lighteryellow:     #FFDC00,
  lightorange:     #FF851B,
  lightmaroon:     #85144b,
  lightfuchsia:    #F012BE,
  lightpurple:     #B10DC9,
  lightsilver:     #DDDDDD,
  lightergray:       #AAAAAA,
  ultraviolet: #6B5B95,
  fiesta:      #DD4132,
  jesterred:   #9E1030,
  turmeric:   #FE840E,
  lightercoral:      #FF6F61,
  pinkpeacock: #C62168,
  pepperstem:  #8D9440,
  aspengold:   #FFD662,
  princessblue:#00539C,
  toffe:       #755139,
  mangomojito: #D69C2F,
  terrariummoss:#616247,
  sweetlilac: #E8B5CE,
  soyabean:   #D2C29D,
  eclipse:    #343148,
  redpear:    #7F4145,
  valiant:    #BD3D3A,
  nebulas:    #3F69AA,
  ceylon:     #D5AE41,
  crocus:     #BE9EC9,
  queztal:    #006E6D,

);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
