<ion-header>
  <ion-navbar>
    <ion-title>{{ child?.first_name }} {{ child?.last_name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
  <ion-row>
      <ion-col class="center">
        <ion-avatar center >
          <ion-img text-center src={{childImage}} width="150" height="150" (click)="presentAccessControl()" style="border-radius:50px;" > </ion-img>
          </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            Name : {{ child?.first_name }} {{ child?.last_name }}
          </ion-item>
          <ion-item>
            Age: {{ child?.age }}
          </ion-item>
          <ion-item>
            Parent / Guardian :  {{ child?.parent_name }}
          </ion-item>
          <ion-item>
            Parent's contact : {{ child?.parent_mobile }}
          </ion-item>
          <ion-item>
            Time : {{ formattedTimeSlot }}
          </ion-item>
          <ion-item *ngIf="auth.mode == 'admin' && childHasStaff">
            Staff Assigned : {{ child?.staff?.name }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button block ion-button (click)="openModel()">UPDATE {{ child?.first_name }} DETAILS</button>
        <button block ion-button outline (click)="assign_areas()">ASSIGN TASKS</button>
        <button block ion-button clear color="secondary" (click)="deregisterChild()" *ngIf="auth.mode == 'admin'">DE-REGSITER {{ child?.first_name }}</button>

        <button block ion-button clear color="secondary" (click)="deregisterStaffForChild()" *ngIf="auth.mode == 'admin' && childHasStaff">DE-REGSITER Staff for {{ child?.first_name }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <button block ion-button outline color="danger" (click)="print()"> <ion-icon name="print" item-left></ion-icon> &nbsp; PRINT</button> -->
  <button block ion-button outline color="danger" (click)="pdf()"> <ion-icon name="print" item-left></ion-icon> &nbsp; PDF</button>

  <ion-list id="contentToConvert">

    <ion-list-header color="light" text-center class="goals">
      <h5>GOALS</h5>
    </ion-list-header>
    <ion-grid padding>
      <div *ngFor="let c of goal_areas">
        <ion-item-divider class="area goal-area {{area_colors[c.code]}}">
           {{c.code}} - {{ c.name }}
        </ion-item-divider>
        <span *ngFor="let d of goals">
          <ion-item *ngIf="c.name == d.area_name" text-wrap>
            {{ d.task_number.number }} - {{ d.task_name }}
            <ion-icon item-end class="editIcon" name="create" small (click)='editTaskname(d.task_id, d.task_name, d.status)'></ion-icon>
            <button item-end class="acheivedbtn" ion-button color="primary" (click)='taskUpdated($event, d)'>Achieved</button>
          </ion-item>
        </span>
      </div>
    </ion-grid>
    <ion-list-header color="light" text-center class="acheived">
      <h5> ACHIEVED </h5>
    </ion-list-header>
    <ion-grid padding>
      <div *ngFor="let c of done_areas">
          <ion-item-divider color="light" class="area acheived-area {{area_colors[c.code]}}">
           {{c.code}} -   {{ c.name }}
          </ion-item-divider>
          <span *ngFor="let d of done">
              <ion-item *ngIf="c.name == d.area_name" text-wrap>
                 {{ d.task_number.number }}  - {{ d.task_name }}
                 <ion-icon item-end class="editIcon" name="create" small (click)='editTaskname(d.task_id, d.task_name, d.status)'></ion-icon>
                 <button item-end class="acheivedbtn" ion-button color="primary" (click)='taskUpdated($event, d)'>Goal</button>
              </ion-item>
          </span>
      </div>
    </ion-grid>
  </ion-list>
</ion-content>
