page-update-task-for-child {
  ion-label {
    width: 60% !important;
  }

  .acheived,
  .acheived-area {
    background-color: #4834d4;
    color: #fff;
  }

  .goals,
  .goal-area {
    background-color: green;
    color: #fff;
  }
}
